<!DOCTYPE html> 
<html>

<!--This code is created and powered by Jorell's Corp-->

<head>
<meta charset="utf-8" />
<title>Pirates of the Carribean</title>
<link rel="icon" type="image/png" href="sparrow.jpg">
<link rel="stylesheet" type="text/css" media="screen" href="design.css"/>
</head>

<body background="in.jpg">
<div class="navbars">
<a href="index.html">Home &nbsp&nbsp</a>
<a href="piratesi.html">Pirates I &nbsp&nbsp</a>
<a href="piratesii.html">Pirates II &nbsp&nbsp</a>
<a href="piratesiii.html">Pirates III &nbsp&nbsp</a>
<a href="characters.html">Characters</a>


</div>


<div id="fill">
<input type="text" id="yourName" ng-model="yourName" placeholder="Full Name"required><br><br>
<input type="text" id="yourAddress" ng-model="yourAddress" placeholder="Address" required><br><br>
<input type="text" id="email" ng-model="email" placeholder="Email" required><br><br>
<input type="text" id="con" ng-model="con" placeholder="Contact#" required>
</div>

<input type="button" onclick="alert('Nasend na po babuy! ')" name="submit" value="Submit"/><br><br>
<div class="click"><a id="sas" href="javascript:history.go(0)"></a>

<textarea placeholder="Ano po gusto nyo sabihin?" rows="5" cols="154"></textarea><br><br>


</body>
</html>